body {
  background-color:#2A324B;
  color:#2A324B
}

.container {
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  width: 80%;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.tone-box-container {
  margin-top: 10px;
  -webkit-box-shadow: 0px 2px 6px 0.5px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 2px 6px 0.5px rgba(0,0,0,0.31);
  box-shadow: 0px 2px 6px 0.5px rgba(0,0,0,0.31);
  border-radius: 4px;
}

.tone-box {
  border-style: solid !important;
  box-sizing: border-box !important;
  background-color:#363c4f;
  border-width: thin;
  height: 34px;
  width:22.5%;
}

.tone-box.left {
  width:10%;
}

.box-top {
  /*border-radius: 15px 15px 0 0;*/
  text-align: center;
  border-color:#2A324B;
  color: white;
  line-height: 30px;
  border-bottom-color:grey;
}

.left {
  text-align: center;
  border-color:#2A324B;
  color: white;
  line-height: 30px;
}

/* Buttons */
.button-menu {
  margin-bottom: 10px;
  position: relative;
}

.pure-button {
  color: white;
  border-radius: 4px;
}

.button-play-control {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
}

.play-control-container {
  width: 50px;
  height: 50px;
}

.material-icons.play-control {
  font-size: 35px !important;
}

.progression-select {
  margin: 0 10px 0 10px;
  width: 180px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 50px;
}

#Bar {
  width: 1px;
  height: 440px;
  position: absolute;
  left: 0%;
  background-color: white;
  visibility: hidden;
}