body {
  background-color:#2A324B;
  color:#2A324B
}

.container {
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  width: 80%;
}

/*.tone-box-container {
  margin: 0 auto;
  margin-top: 15px;
  width: 90%;
}*/

.tone-box {
  border-style: solid !important;
  box-sizing: border-box !important;
  background-color:#363c4f;
  border-width: thin;
  height: 34px;
}

.box-top {
  border-radius: 15px 15px 0 0;
  text-align: center;
  border-color:#2A324B;
  color: white;
  line-height: 30px;
  border-bottom-color:grey;
}

.left {
  text-align: center;
  border-color:#2A324B;
  color: white;
  line-height: 30px;
}

/* Buttons */
.button-menu {
  margin-bottom: 10px;
}

.pure-button {
  color: white;
  border-radius: 4px;
}

.button-start {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-stop {
  background: rgb(202, 60, 60); /* this is a maroon */
}

#Bar {
  width: 1px;
  height: 440px;
  position: absolute;
  left: 0%;
  background-color: white;
}